{% extends "base.html" %}

{% block title %}
  {{ super() }} | {{ _('Dashboard') }}
{% endblock %}

{% block head %}
{{ super() }}

<script type="text/javascript" charset="utf-8" 
        src="/static/js/dashboard.js"></script>

<script type="text/template" charset="utf-8" id="group-item-template">
  <a href="/group/<%= id %>">
    <div class="row">
      <div class="span9">
        <div class="group-selection">
          <input type="checkbox" name="group-<%= id %>" 
            <% if (selected === true) { %>checked="checked"<% } %>/>
        </div>
        <div class="group-info">
          <div class="group-name <% if (selected === true) { %>selected<% } %>">
            <%= name %>
          </div>
          <div class="group-stats">
            <span>
              <%= members %>
              <% if (members === 1) { %>
                {{ _("member") }}
              <% } else { %>
                {{ _("members") }}
              <% } %>
            </span>
          </div>
        </div>
      </div>
      <div class="group-activity">
        <% if (last_activity !== null) { %>
          <span class="label important">{{ _("Last activity") }}: <%= last_activity %></span>
        <% } else { %>
          <span class="label warning">{{ _("No activities") }}</span>
        <% } %>
        <% if (owner_id === currentUserId) { %>
          <span class="label success">{{ _("Owner") }}</span>
        <% } %>
      </div>
    </div>
  </a>
</script>

<script type="text/template" charset="utf-8" id="group-template">
<div class="modal-overlay"></div>
<div class="modal-wrapper">
  <!-- Create Group Dialog -->
  <div id="create-group-modal" class="modal">
    <div class="modal-header">
      <a href="#" class="close">×</a>
      <h3>{{ _("Create new group") }}</h3>
    </div>
    <div class="modal-body">
      <div class="message"></div>
      <form method="POST" action="">
        <input type="text" name="groupName" placeholder="{{ _('Group name') }}" />
      </form>
    </div>
    <div class="modal-footer">
      <a href="#" class="btn primary">{{ _("Submit") }}</a>
    </div>
  </div>

  <!-- Leaving Group Dialog -->
  <div id="leaving-group-modal" class="modal">
    <div class="modal-header">
      <a href="#" class="close">×</a>
      <h3 class="owner">{{ _("Leaving owned group") }}</h3>
      <h3 class="member">{{ _("Leaving group") }}</h3>
    </div>
    <div class="modal-body">
      <p class="owner">{{ _("You're trying to leave a group that is owned by you, doing so will delete the group. Are you sure you want to continue?") }}</p>
      <p class="member">{{ _("Are you sure you want to leave?") }}</p>
    </div>
    <div class="modal-footer">
      <a id="leaving-ok" href="#" class="btn">{{ _("Ok") }}</a>
      <a id="cancel" href="#" class="btn primary">{{ _("Cancel") }}</a>
    </div>
  </div>

  
</div>

<div id="group-filter">
  <form action="" method="POST">
    <input type="text" name="group_filter" placeholder="{{ _('Filter groups') }}" />
  </form>
</div>

<div id="group-list">
  <ul>
  </ul>
</div>

<div id="group-action-wrapper">
</div>
</script>

<script type="text/template" charset="utf-8" id="group-action-template">
<a id="create-group" href="#" class="btn">{{ _("Create Group") }}</a>
<% if (selected) { %>
<a id="leave-group" href="#" class="btn">{{ _("Leave Group") }}</a>
<% } %>
</script>
{% endblock %}

{% block header %}
<div class="page-header">
  <h1>{{ _('Dashboard') }}</h1>
</div>
{% endblock %}

{% block body_classes %}dashboard{% endblock %}

{% block content %}
<div class="span14">
  
  <div id="dashboard-widget">
  </div>

</div>
{% endblock %}