{% extends "base.html" %}

{% block title %}
  {{ super() }} | {{ group.name }}
{% endblock %}

{% block head %}
{{ super() }}
<script type="text/javascript" charset="utf-8" 
        src="/static/js/stream.js"></script>
<script type="text/javascript" charset="utf-8" 
        src="/static/js/invites.js"></script>
<script type="text/javascript" charset="utf-8" 
        src="/static/js/juggernaut.js"></script>

<script type="text/template" charset="utf-8" id="stream-item-template">
  <div class="span9 stream-item">
    <div class="row meta">
      <div class="span7 author">
        <a href="javascript:void(0)" class="author-name"><%= username %></a>
        <% if (type.toLowerCase() === 'status') { %>
          <span class="label warning">{{ _('Status') }}</span>
        <% } else if (type.toLowerCase() === 'git') { %>
          <span class="label success">{{ _('Git') }}</span>
        <% } %>
      </div>
      <div class="span3 date"><%= created %></div>
    </div>
    <div class="content"><%= status %></div>
  </div>
</script>

<script type="text/template" charset="utf-8" id="stream-template">
  <form id="post-box" action="" method="post">
    <div class="clearfix">
      <div class="input">
        <textarea class="xxlarge" id="status" name="status" rows="2"
          placeholder="{{ _('Type whatever you want to say.') }}"></textarea>
      </div>
    </div>
  </form>
  <div class="span10 stream-items stream-inner">
  </div>
  <div class="span10 more-preloader">
    <img src="/static/images/preloader.gif" />
    {{ _('Please wait') }}
  </div>
  <div class="span10 stream-empty">
    {{ _("No one has posted any status yet.") }}
  </div>
  <div class="span10 stream-more">
    <a href="#">{{ _('Show more') }}</a>
  </div>
</script>

<script type="text/template" charset="utf-8" id="invite-template">
<a id="invite-members" href="#" class="btn success large">{{ _("Invite Members") }}</a>
</script>
{% endblock %}

{% block inline_scripts %}
{{ super() }}
var activeGroupId = {{ group.id }};
$(document).ready(function() {
  window.jug = new Juggernaut();

  // set the session for each jug so messages don't get repeated
  $.ajaxSetup({
    beforeSend: function(xhr){
      xhr.setRequestHeader("X-Session-ID", jug.sessionID);
    }
  });

  jug.meta = {user_id: currentUserId};
  jug.on("connect", function(){ 
    console.log("Connecting...");
  });
  jug.on("disconnect", function(){ 
    console.log("Disconnected!");
  });

  // TODO: this mundane tasks should be in backbone.
  jug.subscribe("group" + activeGroupId, function(data){
    switch (data.msg_type) {
      case "login":
        if ($("#user-" + data.user_id).length !== 1) {
          var liE = document.createElement("li");
          var aE = document.createElement("a");
          aE.innerHTML = (data.username) ? data.username : data.email;
          liE.setAttribute("id", "user-" + data.user_id);
          liE.appendChild(aE);
          $("#team-status ul").append(liE);
        }
        break;
      case "logout":
        $("#team-status #user-" + data.user_id).remove();
        break;
      case "status":
        // remove the msg_type key since its only used for routing
        delete data.msg_type
        var newStatus = new StreamItem(data);
        streamApp.streamView.collection.add(newStatus);
        streamApp.streamView.collection.sort();
        break;
      default:
        console.log("Unknown message: ");
        console.log(data);
        break;
    }
  });
});
{% endblock %}

{% block header %}
<div class="page-header">
  <h1>{{ group.name }}</h1>
</div>
{% endblock %}

{% block content %}
<div class="span10">

  <div id="main-stream">
  </div>

</div>
{% endblock %}

{% block sidebar %}
  <div class="span4">
    <div id="team-status">
      <h3>{{ _('Online Members') }}</h3>
      {% if online_users %}
        <ul>
          {% for online_user in online_users %}
            <li id="user-{{ online_user.id }}">
              <a href="#">
                {% if online_user.username %}
                  {{ online_user.username }}
                {% else %}
                  {{ online_user.email }}
                {% endif %}
              </a>
            </li>
          {% endfor %}
        </ul>
      {% else %}
        <p>{{ _("No online users") }}</p>
      {% endif %}
    </div>

    <div id="invites">
    </div>
  </div>
{% endblock %}
