{% extends "base.html" %}

{% block title %}
  {{ super() }} | {{ _('Home') }}
{% endblock %}

{% block head %}
{{ super() }}

<script type="text/template" charset="utf-8" id="stream-item-template">
  <div class="span9 stream-item 
    <% if (is_last === true) { %>
      last
    <% } %>
    ">
    <div class="row meta">
      <div class="span8 author">
        <a href="javascript:void(0)" class="author-name"><%= author %></a>
        <% if (type === 'status') { %>
          <span class="label warning">{{ _('Status') }}</span>
        <% } else if (type === 'git') { %>
          <span class="label success">{{ _('Git') }}</span>
        <% } %>
      </div>
      <div class="span2 date"><%= created %></div>
    </div>
    <div class="content"><%= status %></div>
  </div>
</script>

<script type="text/template" charset="utf-8" id="stream-template">
  <div class="span10 stream-items stream-inner">
  </div>
  <div class="span10 stream-more">
    <div class="more-preloader">
      <img src="/static/images/preloader.gif" />
      {{ _('Please wait') }}
    </div>
    <a href="#">{{ _('Show more') }}</a>
  </div>
</script>

<script type="text/javascript" charset="utf-8">
  var streamItemData = [
      {
          "id": 6,
          "author": "Marconi",
          "created": "26 Oct 2011",
          "status": "The quick brown fox jumps over the lazy dog!",
          "type": "status"
      },
      {
          "id": 5,
          "author": "June",
          "created": "25 Oct 2011",
          "status": "Aliquam aliquet, est a ullamcorper condimentum.",
          "type": "status"
      }
  ];

  var p = {
      "id": 4,
      "author": "Nunc auctor bibendum",
      "created": "24 Oct 2011",
      "status": "Nunc auctor bibendum eros. Maecenas porta accumsan mauris.",
      "type": "git"
  }

  $(document).ready(function() {
    for (var i=0; i<streamItemData.length; i++) {
        streamApp.streamView.collection.add(new StreamItem(streamItemData[i]));
    }

    var s = streamApp.streamView.collection.size();
    streamApp.streamView.collection.add(new StreamItem(p), {at: s});

  });
</script>
{% endblock %}

{% block content %}
<div class="span10">

  <form id="post-box" action="" method="post">
    <div class="clearfix">
      <div class="input">
        <textarea class="xxlarge" id="status" name="status" rows="2"></textarea>
        <input type="submit" value="Update" class="btn large primary" />
        <span class="help-block">
          Type whatever you want to say.
        </span>
      </div>
    </div>
  </form>

  <div id="main-stream">
  </div>

</div>
{% endblock %}

{% block sidebar %}
  <div class="span4">
    <div id="team-status">
      <h3>Online Members</h3>
      <ul>
        <li>
          <a href="#">Marconi Moreto</a>
        </li>
        <li>
          <a href="#">Mark Abuda</a>
        </li>
        <li>
          <a href="#">Mark Abuda</a>
        </li>
      </ul>
    </div>
  </div>
{% endblock %}