<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>{{ _('DevStream') }}</title>
    <meta name="description" content="">
    <meta name="author" content="">

    <link rel="stylesheet" href="/static/css/bootstrap.min.css"
          type="text/css" media="screen" />
    <link rel="stylesheet" href="/static/css/styles.css"
          type="text/css" media="screen" />

    <script type="text/javascript" charset="utf-8" 
            src="/static/js/jquery.min.js"></script>
    <script type="text/javascript" charset="utf-8" 
            src="/static/js/underscore.min.js"></script>
    <script type="text/javascript" charset="utf-8" 
            src="/static/js/backbone.js"></script>
    <script type="text/javascript" charset="utf-8" 
            src="/static/js/common.js"></script>

    {% block head %}
    {% endblock %}

  </head>
  <body>

    <div class="topbar">
      <div class="fill">
        <div class="container">
          <a class="brand" href="/">{{ _('DevStream') }}</a>
          <ul class="nav">
            <li
              {% if request.endpoint == 'home' %}
              class="active"
              {% endif %}>
              <a href="#">{{ _('Dashboard') }}</a>
            </li>
            <li><a href="#about">{{ _('About') }}</a></li>
            <li><a href="#contact">{{ _('Contact') }}</a></li>
            <li 
              {% if request.endpoint == 'register' %}
              class="active"
              {% endif %}
            >
                <a href="{{ url_for('register') }}">{{ _('Register') }}</a>
            </li>
          </ul>
          <form action="" class="pull-right" method="post">
            <input class="input-small" type="text" 
                   placeholder="{{ _('Username') }}" />
            <input class="input-small" type="password" 
                   placeholder="{{ _('Password') }}" />
            <button class="btn primary" type="submit">{{ _('Login') }}</button>
          </form>
        </div>
      </div>
    </div>

    <div class="container">

      <div class="content">
        {% block header %}
        {% endblock %}

        {% with messages = get_flashed_messages(with_categories=true) %}
          {% if messages %}
            {% for category, message in messages %}
              <div class="alert-message block-message {{ category }}">
                <a class="close" href="#">×</a>
                {{ message }}
              </div>
            {% endfor %}
          {% endif %}
        {% endwith %}

        {% block layout %}
        {% endblock %}
      </div>

      <footer>
        <p>{{ _('&copy; Company 2011') }}</p>
      </footer>

    </div> <!-- /container -->

  </body>
</html>

