::-moz-selection{ background: #FF5E99; color:#fff; text-shadow: none; }
::selection { background:#FF5E99; color:#fff; text-shadow: none; }


/* custom styles */
html, body {
  background: #eee;
}

body {
  padding-top: 40px;
}

.container > footer p {
  text-align: center;
}

.container {
  width: 820px;
}

.container > .content {
  background-color: #fff;
  padding: 20px;
  margin: 0 -20px; /* negative indent the amount of the padding to maintain the grid system */
  -webkit-border-radius: 0 0 6px 6px;
     -moz-border-radius: 0 0 6px 6px;
          border-radius: 0 0 6px 6px;
  -webkit-box-shadow: 0 1px 2px rgba(0,0,0,.15);
     -moz-box-shadow: 0 1px 2px rgba(0,0,0,.15);
          box-shadow: 0 1px 2px rgba(0,0,0,.15);
}

.page-header {
  background-color: #f5f5f5;
  padding: 20px 20px 10px;
  margin: -20px -20px 20px;
}

.content .span4 {
  padding-left: 19px;
  border-left: 1px solid #eee;
  width: 200px;
}

footer {
  padding: 0;
  margin: 17px 0;
}

footer p {
  margin: 0;
}

.topbar .btn {
  border: 0;
}

.stream {

}

.stream-inner {
  background: #f5f5f5;
  border: 1px solid #ddd;
}

.stream-item {
  padding: 10px;
  border-bottom: 1px solid #ddd;
  width: 560px;
}

.stream-item.last {
  border-bottom: none;
}

.stream-item .meta .date {
  font-size: 12px;
  text-align: right;
  width: 80px;
}

.stream-item .content {
  margin: 5px 0 0 0;
}

#post-box .input {
  margin-left: 0;
}

#post-box textarea {
  width: 435px;
}

#post-box input {
  width: 120px;
  padding: 11px 14px;
  font-size: 18px;
  margin: 0 0 0 10px;
}

#team-status ul {
  margin: 0;
  list-style: none;
}

#team-status li {
  padding: 0px 4px;
  line-height: 13px;
  margin: 0 0 5px 0;
}


/* jquery placeholder */
label.placeholder {
    cursor: text;
    padding: 4px 4px 4px 4px;
    color: #999999;
}

/* html5 placeholder support */
input::-webkit-input-placeholder, textarea::-webkit-input-placeholder {
    color:#999999;
}
input:placeholder, textarea:placeholder {
    color:#999999;
}

.loading,
.loading.button,
.continuation,
.continuation.button,
.continuation.button:hover {
    background: #999999 !important;
    color: #c0c0c0 !important;
    cursor: wait;
    top: 0 !important;
}






.ir { display: block; text-indent: -999em; overflow: hidden; background-repeat: no-repeat; text-align: left; direction: ltr; }
.hidden { display: none; visibility: hidden; }
.visuallyhidden { border: 0; clip: rect(0 0 0 0); height: 1px; margin: -1px; overflow: hidden; padding: 0; position: absolute; width: 1px; }
.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus { clip: auto; height: auto; margin: 0; overflow: visible; position: static; width: auto; }
.invisible { visibility: hidden; }
.clearfix:before, .clearfix:after { content: "\0020"; display: block; height: 0; overflow: hidden; }
.clearfix:after { clear: both; }
.clearfix { zoom: 1; }


@media all and (orientation:portrait) {

}

@media all and (orientation:landscape) {

}

@media screen and (max-device-width: 480px) {
  
  /* html { -webkit-text-size-adjust:none; -ms-text-size-adjust:none; } */
}


@media print {
  * { background: transparent !important; color: black !important; text-shadow: none !important; filter:none !important;
  -ms-filter: none !important; } 
  a, a:visited { color: #444 !important; text-decoration: underline; }
  a[href]:after { content: " (" attr(href) ")"; }
  abbr[title]:after { content: " (" attr(title) ")"; }
  .ir a:after, a[href^="javascript:"]:after, a[href^="#"]:after { content: ""; }  
  pre, blockquote { border: 1px solid #999; page-break-inside: avoid; }
  thead { display: table-header-group; } 
  tr, img { page-break-inside: avoid; }
  @page { margin: 0.5cm; }
  p, h2, h3 { orphans: 3; widows: 3; }
  h2, h3{ page-break-after: avoid; }
}

