/* Variables.less
 * Variables to customize the look and feel of Bootstrap
 * ----------------------------------------------------- */
html, body {
  background: #eeeeee;
}
body {
  padding-top: 40px;
}
body .topbar .btn {
  border: 0;
}
body .container {
  width: 820px;
}
body .container > .content {
  background-color: #ffffff;
  padding: 20px;
  margin: 0 -20px;
  -webkit-border-radius: 0 0 6px 6px;
  -moz-border-radius: 0 0 6px 6px;
  border-radius: 0 0 6px 6px;
  -webkit-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.15);
  -moz-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.15);
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.15);
}
body .container > .content .page-header {
  background-color: #f5f5f5;
  padding: 20px 20px 10px;
  margin: -20px -20px 20px;
}
body .container > .content .span4 {
  padding-left: 19px;
  border-left: 1px solid #eeeeee;
  width: 200px;
}
body .container > .content #registration-form, body .container > .content #registration-form .actions {
  margin-bottom: 0;
}
body .container > footer {
  padding: 0;
  margin: 17px 0;
}
body .container > footer p {
  text-align: center;
  margin: 0;
}
body.dashboard .container > .content .span14 #group-filter form input {
  background: url(../images/search-icon.png) no-repeat 0% 50%;
  padding-left: 22px;
}
body.dashboard .container > .content .span14 #group-list {
  margin: 0 0 19px 0;
  overflow-y: auto;
  height: 400px;
  border: 1px solid #eeeeee;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
}
body.dashboard .container > .content .span14 #group-list ul {
  padding: 0;
  margin: 0;
  list-style-type: none;
}
body.dashboard .container > .content .span14 #group-list ul li {
  border-bottom: 1px dotted #eeeeee;
}
body.dashboard .container > .content .span14 #group-list ul li a {
  color: gray;
  display: block;
}
body.dashboard .container > .content .span14 #group-list ul li a:hover {
  text-decoration: none;
  background: #049cdb;
  color: #ffffff;
}
body.dashboard .container > .content .span14 #group-list .group-info, body.dashboard .container > .content .span14 #group-list .group-activity {
  padding: 10px;
}
body.dashboard .container > .content .span14 #group-list .group-activity {
  float: right;
}
body.dashboard .container > .content .span14 #group-list .span4 {
  padding-left: 0;
  border: 0;
  width: 219px;
  text-align: right;
}
body.dashboard .container > .content .span14 #group-list .group-name {
  font-weight: bold;
}
body.dashboard .container > .content .span14 #group-list .group-stats {
  font-style: italic;
}
body.dashboard .container > .content .span14 #group-list .group-selection {
  padding: 19px 10px;
  margin-right: 10px;
  float: left;
  background: #eeeeee;
  border-right: 1px solid #dddddd;
}
#main-stream #post-box textarea {
  width: 560px;
  font-size: 16px;
  padding: 10px;
}
#main-stream #post-box input {
  width: 120px;
  padding: 11px 14px;
  font-size: 18px;
  margin: 0 0 0 10px;
}
#main-stream #post-box .input {
  margin-left: 0;
}
#main-stream .stream-inner {
  background: #f5f5f5;
  border: 1px solid #dddddd;
}
#main-stream .stream-inner .stream-item {
  padding: 10px;
  border-bottom: 1px solid #dddddd;
  width: 560px;
}
#main-stream .stream-inner .stream-item .meta .date {
  font-size: 12px;
  text-align: right;
  width: 140px;
}
#main-stream .stream-inner .stream-item .content {
  margin: 5px 0 0 0;
}
#main-stream .stream-more, #main-stream .stream-empty, #main-stream .more-preloader {
  border-left: 1px solid #dddddd;
  border-right: 1px solid #cccccc;
  border-bottom: 1px solid #cccccc;
  background: #dddddd;
}
#main-stream .stream-empty {
  text-align: center;
  padding: 5px 0;
}
#main-stream .more-preloader {
  text-align: center;
  padding: 5px 0;
}
#main-stream .more-preloader img {
  vertical-align: top;
}
#main-stream .stream-more a {
  display: block;
  padding: 5px;
  text-align: center;
}
#team-status ul {
  margin: 0;
  list-style: none;
}
#team-status ul li {
  padding: 0px 4px;
  line-height: 13px;
  margin: 0 0 5px 0;
}
