@import "../bootstrap/variables.less";

@gray: #ddd;
@grayLight: #ccc;
@graySuperLight: #eee;
@grayUltraLight: #f5f5f5;
@contentBorderRadius: 0 0 6px 6px;
@contentBorderShadow: 0 1px 2px rgba(0,0,0,.15);
@groupListBorderRadius: 4px 4px 4px 4px;
@errorRed: #B94A48;
@errorBorderRed: #EE5F5B;
@successGreen: #468847;
@successBorderGreen: #57A957;

html, body {
  background: @graySuperLight;
}
html {
  height: 100%;
  position: relative;
}

.modal-overlay {
  background: #777777;
  opacity: 0.7;
  width: 100%;
  height: 100%;
  z-index: 1;
  position: absolute;
  top: 0;
  left: 0;
  display: none;
}
.modal-wrapper {
  display: none;
  position: absolute;
  left: 50%;
  top: 50%;
  .modal {
    position: relative;
    top: auto;
    left: auto;
    margin: 0 auto;
    z-index: 2
  }
  .message {
    margin: 0 0 5px 0;
    display: none;
  }
  .modal-body.error {
    .message,
    form input {
      color: @errorRed;
    }
    form input {
      border: 1px solid @errorBorderRed;
    }
  }
  .modal-body.success .message {
    color: @successGreen;
  }
}

body {
  padding-top: 40px;
  .topbar .btn {
    border: 0;
  }
  .container {
    width: 820px;

    > .content {
      background-color: @white;
      padding: 20px;
      margin: 0 -20px;
      -webkit-border-radius: @contentBorderRadius;
         -moz-border-radius: @contentBorderRadius;
              border-radius: @contentBorderRadius;
      -webkit-box-shadow: @contentBorderShadow;
         -moz-box-shadow: @contentBorderShadow;
              box-shadow: @contentBorderShadow;

      .page-header {
        background-color: @grayUltraLight;
        padding: 20px 20px 10px;
        margin: -20px -20px 20px;
      }

      .span4 {
        padding-left: 19px;
        border-left: 1px solid @graySuperLight;
        width: 200px;
      }

      #registration-form,
      #registration-form .actions {
        margin-bottom: 0;
      }
    }

    > footer {
      padding: 0;
      margin: 17px 0;

      p {
        text-align: center;
        margin: 0;
      }
    }

  }

}

body.dashboard .container > .content .span14 {
  #create-group-modal {
    width: 340px;
    margin-top: -81px;
    margin-left: -125px;
    display: none;
    form input {
      width: 300px;
    }
  }
  #leaving-group-modal {
    display: none;
    width: 400px;
    margin-top: -90px;
    margin-left: -200px;
  }
  #group-filter form input {
    background: url(../images/search-icon.png) no-repeat 0% 50%;
    padding-left: 22px;
  }
  #group-list {
    margin: 0 0 19px 0;
    overflow-y: auto;
    height: 300px;
    border: 1px solid @gray;
    -webkit-border-radius: @groupListBorderRadius;
       -moz-border-radius: @groupListBorderRadius;
            border-radius: @groupListBorderRadius;
    ul {
      padding: 0;
      margin: 0;
      list-style-type: none;
      li {
        border-bottom: 1px dotted @graySuperLight;
        a {
          color: gray;
          display: block;
        }
        a:hover {
          text-decoration: none;
          background: @blue;
          color: @white;
        }
      }
    }
    .group-info,
    .group-activity {
      padding: 10px;
    }
    .group-activity {
      float: right;
      text-align: right;
    }
    .span4 {
      padding-left: 0;
      border: 0;
      width: 219px;
      text-align: right;
    }
    .group-name {
      font-weight: bold;
      font-size: 14px;
    }
    .group-name.selected {
      text-decoration: line-through;
    }
    .group-stats {
      font-style: italic;
    }
    .group-selection {
      padding: 19px 10px;
      margin-right: 10px;
      float: left;
      background: @graySuperLight;
      border-right: 1px solid @gray;
    }
  }
}

body.group-detail .container > .content .span4 {
	#invite-members-modal {
		display: none;
		margin-top: -90px;
	  margin-left: -200px;
		width: 440px;
		textarea {
			width: 400px;
			height: 90px;
		}
	}
}

#main-stream {
  #post-box {
    textarea {
      width: 560px;
      font-size: 16px;
      padding: 10px;
    }

    input {
      width: 120px;
      padding: 11px 14px;
      font-size: 18px;
      margin: 0 0 0 10px;
    }

    .input {
      margin-left: 0;
    }
  }

  .stream-inner {
    background: @grayUltraLight;
    border: 1px solid @gray;

    .stream-item {
      padding: 10px;
      border-bottom: 1px solid @gray;
      width: 560px;

      .meta .date {
        font-size: 12px;
        text-align: right;
        width: 140px;
      }

      .content {
        margin: 5px 0 0 0;
      }

    }
  }

  .stream-more,
  .stream-empty,
  .more-preloader {
    border-left: 1px solid @gray;
    border-right: 1px solid @grayLight;
    border-bottom: 1px solid @grayLight;
    background: @gray;
  }

  .stream-empty {
    text-align: center;
    padding: 5px 0;
  }

  .more-preloader {
    text-align: center;
    padding: 5px 0;
    img {
        vertical-align: top;
    }
  }

  .stream-more {
    a {
      display: block;
      padding: 5px;
      text-align: center;
    }
  }

}

#team-status {
  ul {
    margin: 0;
    list-style: none;
    li {
      padding: 0px 4px;
      line-height: 13px;
      margin: 0 0 5px 0;
    }
  }
}

#invites {
	margin: 20px 0 0 0;
	#invite-members {
		width: 120px;
		text-align: center;
	}
}
